<%- include('./partials/header.ejs') %>

<header class="header">

  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="header__logo">
                  <a class="navbar-brand text-dark fs-4 fw-bold" href="/">Time<span class="text-danger">Matter</span></a>
              </div>
          </div>
          <div class="col-lg-6">
              <nav class="header__menu">
                  <ul>
                      <li><a href="/">Home</a></li>
                      <li class="active"><a href="/shop">Shop</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3">
            <div class="header__cart">

                <div class="header__top__right__auth">

                   
                    
                    
<!-- 
                    <div class="header__top__right__auth">
                        <a onclick="login()"><i class="fa fa-user"></i> Login</a>
                    </div> -->

                  
                    

                    <ul><% if(wishlist!=null && wishlist.items.length!=0){%>
                        <li><a href="/wishlist"><i class="fa fa-heart"></i> <span><%= wishlist.items.length%></span></a></li> <%}else{%>
                            <li><a href="/wishlist"><i class="fa fa-heart"></i> <span>0</span></a></li><%}%>
                        <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span><%=carts.length%></span></a></li> 
                    </ul>


                    <div class="header__top__right__auth">
                        <a href="/profile"><i class="fa fa-user"></i><%= user.username %></a>
                    </div>

                    <div class="header__top__right__auth">
                        <a href="/logout" style="box-shadow: none;border: none;" class="btn btn-sm btn-outline-danger">Logout</a>
                    </div>
                    
                
                </div>
               

                
            </div>
        </div>
      </div>

      </div>
    
  </div>
</header>
<!-- Header Section End -->
<div class="cartlist-main mt-5 " style="width: 100%;">
  <div class="container pt-3">
      <% if(count!==0) { %>
          <h3 class="cart-head">Cart <i class="ri-shopping-cart-line"></i></h3>
          <div class="" id="newDiv">
            
          </div>
        
          <% } %>
              <div class="alert alert-dark alert-dismissible fade show" role="alert" style="display: none;"
                  id="cartAlert">
                  <div>
                      <strong>Out Of Stock!</strong>
                    
                  </div>


              </div>
              <% if(count===0) { %>
                <div class="row" id="showEmpty">
                    <div class="empty-container w-100 h-50 d-flex flex-column justify-content-center align-items-center"
                        style="gap:10px">
                        <img src="image/empty.png" height="300px" alt="">
                        <h3>Your Cart is empty!</h3>
                        <p>Looks like you haven't added anything to your cart </p>
                    </div>
                </div>
                <% } %>

                <% if(carts.length!=0) { %>
                    <div id="showCards" class="row <% if(carts.length==0){%> hide<%}%>">
                        
              
                             
                                  <div class="col-12 col-md-7">

                                      <% carts.forEach((cart)=>{ %>
                                          <div class="col-12">
                                              <div id="cart<%=cart.product._id%>" class="cart-item">
                                                  <div class="cart-img">
                                                      <img src="<%= cart.product.image[0].url %>"
                                                          alt="">
                                                  </div>
                                                  <div class="cart-detail">
                                                      
                                                          <b>
                                                            <%= cart?.product?.productName %>
                                                          </b>
                                                      
                                                      <div>
                                                          <div class="d-flex">
                                                              ₹<h5 id="pricePerUnit<%=cart.product._id%>">
                                                                <%= cart?.product?.price %>
                                                              </h5>
                                                          </div>
                                                          <!-- <strike style="font-size: .85rem; color: grey;">
                                                      ₹<span id="">

                                                      </span>
                                                  </strike> -->
                                                      </div>
                                                      </h5>
                                                      <% if(cart?.product?.quantity < cart.quantity) { %>
                                                        <b id="" class="text-danger">

                                                            Out Of Stock
                                                        </b>
                                                        <% } %>
                                                  </div>
                                                  <div class="cart-quantity">
                                                      <div class="cartquantiy-box">
                                                          <button
                                                              onclick="decQuantity('<%= cart._id %>')">-</button>
                                                          <input type="number" readonly
                                                              value="<%= cart?.quantity %>"
                                                              id="totalCount<%=cart.product._id %>">
                                                          <button
                                                              onclick="incQuantity('<%= cart._id %>')">+</button>
                                                      </div>
                                                  </div> 
                                                  <div class="cart-cancel"><a class="delete"
                                                          style="color: black;"
                                                          onclick="removeProduct('<%=cart._id %>')">
                                                          <i class="fa fa-times "></i>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                    <% })%>                                         
                                  </div>
                                  
<div class="col-12 col-md-5 mb-2">
    <div class="row">
        <div class="cart-price-details">
            <div class="hero__categories">
                <div class="hero__categories__all">
                    <i class="fa fa-bars"></i>
                    <span id="allCouponButton">All Coupon</span>
                </div>
                <ul id="couponList"> <!-- Add the id here -->
                    <% coupon.forEach((coupon) => { %>
                    <li><a href="/coupons"><%= coupon.couponName %></a></li>
                    <% }) %>
                </ul>
            </div>
            <div class="p-2">
                <label for="">Coupon</label>
                <input id="coupon_id" type="text" name="couponname">
                <button style="background-color: rgb(3, 3, 3); color: rgb(255, 255, 252);" onclick="applycoupon()">Apply Coupon</button>
            </div>


                                          
                               
                                            <div id="coupon_id" class="mt-2 " >
                                            </div>
                                            <!-- <div id=" coupon_id" class="input-group my-2">
                                                <input type="text" id="coupon_id" class="form-control text-uppercase rounded"
                                                    placeholder="Coupon name" aria-label="Recipient's username"
                                                    aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn loginButton" type="button"
                                                        onclick="applyCoupon()">Apply</button>
                                                </div>
                                            </div> -->
                                            <div id="discountField" style="display: none;">
                                                <div class="price-item">
                                                    <label for="">Discount</label>
                                                    <b class="text-success"> ₹ <span id="totalDiscount"></span> </b>
                                                </div>
                                            </div>
                                         
                                              <h4>Price details</h4>
                                              <div class="price-item">
                                                  <label for="">Total Price</label>

                                                  <b>₹ <span id="totalPrice">
                                                    <%=  parseFloat(total).toFixed(2) %>
                                                      </span></b>
                                              </div>

                                              <div class="price-item">
                                                  <!-- <label for="">Discount</label>
                                                  <b class="text-success"> ₹ <span id="totalDiscount">
                                                          
                                                      </span> </b> -->
                                              </div>
                                              <div class="price-item">
                                                  <label for="">Total amount</label>
                                                  <b>₹ <span id="totalAmount">
                                                    <%=  parseFloat(total).toFixed(2) %>
                                                      </span> </b>
                                              </div>
                                              <div class="price-item">
                                                  <button class="w-100" onclick="checkout()">Checkout</button>
                                              </div>
                                          </div>
                                     

                                  </div>

                    </div> <% } %>
                    
                </div>
                <div class="row" id="showEmpty" style="display: none;">
                    <div class="empty-container w-100 h-50 d-flex flex-column justify-content-center align-items-center"
                        style="gap:10px">
                        <img src="image/empty.png" height="300px" alt="">
                        <h3>Your Cart is empty!</h3>
                        <p>Looks like you haven't added anything to your cart </p>
                    </div>
                </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const allCouponButton = document.getElementById("allCouponButton");
        const couponList = document.getElementById("couponList");

        allCouponButton.addEventListener("click", function () {
            couponList.classList.toggle("show");
        });
    });
</script>


<script>
    function decQuantity(cartId) {
                    const url = window.location.origin;
                    fetch(`${url}/productDec?cartId=${cartId}`, {
                        method: 'PUT',
                        headers: {
                            'Accept': 'application/json',
                            "Content-Type": "application/json",
                        }
                    }).then((response) => response.json())
                        .then((data) => {
                            document.getElementById(`totalCount${data.product.product._id}`).value = data.product.quantity
                            document.getElementById('totalAmount').innerText = data.total
                            document.getElementById('totalPrice').innerText = data.total
                            document.getElementById(`pricePerUnit${data.product.product._id}`).innerText = data.product.product.price
                            if (data.quantityZero == true) {
                                console.log(data.count)
                                document.getElementById(`cart${data.product.product._id}`).remove()
                            }
                            if (data.count == 0) {
                                console.log(data.count)
                                document.getElementById('showCards').style.display = 'none'
                                document.getElementById('showEmpty').style.display = 'block'
                            }
                        })
                }

                function incQuantity(cartId) {
                    const url = window.location.origin;

                    fetch(`${url}/productInc?cartId=${cartId}`, {
                        method: 'PUT',
                        headers: {
                            'Accept': 'application/json',
                            "Content-Type": "application/json",
                        }
                    }).then((response) => response.json())
                        .then((data) => {
                            document.getElementById(`totalCount${data.product.product._id}`).value = data.product.quantity
                            document.getElementById('totalAmount').innerText = data.total
                            document.getElementById('totalPrice').innerText = data.total
                            document.getElementById(`pricePerUnit${data.product.product._id}`).innerText = data.product.product.price
                        })
                }

                function removeProduct(cartId) {
                    const url = window.location.origin
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, remove it!',
                    }).then((result) => {
                        if (result.isConfirmed) {

                            fetch(`${url}/cartDelete/${cartId}`, {
                                method: 'PUT',
                                headers: {
                                    "Content-Type": "application/json",
                                }
                            }).then((response) => response.json()).then((data) => {
                                if (data.count == 0) {
                                    document.getElementById('showCards').style.display = 'none'
                                    document.getElementById('showEmpty').style.display = 'block'
                                }
                                document.getElementById('totalAmount').innerText = data.total
                                document.getElementById(`cart${data.product.product._id}`).remove()
                                document.getElementById('count').innerText = data.count
                                document.getElementById('totalPrice').innerText = data.total

                            })
                        }
                    })
                }
 
                function checkout() {
    const url = window.location.origin;
    const code = document.getElementById('coupon_id').value;
    console.log("hi" + code + "hi");
    const productPric = document.getElementById('totalPrice').innerText;
    const discountPrice = document.getElementById('totalDiscount').innerText;
    const updatedPrice = document.getElementById('totalAmount').innerText;
    console.log("new" + updatedPrice);

    const productPrice = parseFloat(productPric);
    const formattedUpdatedPrice = parseFloat(updatedPrice).toFixed(2); // Format to two decimal places
    const formatedDiscountPrice = parseFloat(discountPrice).toFixed(2);

    fetch(`${url}/quantityCheck`, {
        method: 'GET',
        headers: {
            "Content-Type": "application/json",
        }
    }).then((response) => response.json()).then((data) => {
        if (data.insufficientStock == true) {
    Swal.fire({
        title: 'Sorry',
        text: "Out of stock product present in cart",
        icon: 'warning',
        showConfirmButton: true,
    });
    // Don't proceed to checkout if there's insufficient stock
} else {
    // Proceed to checkout with the provided query parameters
    window.location.href = `${url}/checkout?code=${code}&discountPrice=${formatedDiscountPrice}&productPrice=${productPrice}&updatedPrice=${formattedUpdatedPrice}`;
}

    });
}


                function applycoupon() {
        const url = window.location.origin;
        const code = document.getElementById('coupon_id').value;
        console.log(code)

        fetch(`${url}/applyCoupon?coupon=${code}`, {
            method: 'GET',
            headers: {
                "Content-Type": "application/json",
            }
        }).then((response) => response.json()).then((data) => {
            console.log(data.msg);
            const discountCoupon = data.Discount;
            console.log(discountCoupon);
            const total = parseInt(document.getElementById('totalPrice').innerText);
            console.log(total);
            const discountdPrice = parseInt((total * discountCoupon) / 100);
            console.log(discountdPrice);

            document.getElementById('totalDiscount').innerText = discountdPrice;
            document.getElementById('totalAmount').innerText = total - discountdPrice;

            // Show the discount field
            document.getElementById('discountField').style.display = 'block';
        });
    }



//                    function applyCoupon() {
//                     const couponName = document.getElementById('couponName').value;
//                     const couponMessage = document.getElementById('couponMessage');
//                     const orderTotalAmount = document.getElementById('totalAmount').innerText;
//                     const url = window.location.origin;
//                     fetch(`${url}/applyCoupon`, {
//                         method: 'POST',
//                         headers: {
//                             'Accept': 'application/json',
//                             'Content-Type': 'application/json'
//                         },
//                         body: JSON.stringify({
//                             couponName,
//                             orderTotalAmount,
//                         })
//                     }).then((response) => {
//                         if (response.status === 200) {
//                             return response.json().then((data) => {
//                                 couponApply = true
//                                 const discountTotal = parseInt(data.discountTotal)
//                                 const discountAmount = parseInt(data.discountAmount)
//                                 discount = discountAmount;
//                                 couponMessage.innerHTML =
//                                     `<div class="alert alert-success alert-dismissible fade show d-flex " role="alert" >
//     <strong style="flex: 1;" >${data.message}</strong>
    
//         <div ><a class="delete"
//                                                                     style="color: black;"
//                                                                     onclick="deleteCoupon()">
//                                                                     <i class="fa fa-times "></i>
//                                                                 </a>
//                                                             </div>
//     </div>
    
// `



//                                 document.getElementById('totalAmount').innerText = discountTotal
//                                 totalCash = discountTotal;
//                                 document.getElementById('discount').innerHTML =
//                                     `<div id="discountAmount"><span id="discountText" class="text-success">
//                                    Discount : ₹ ${discountAmount}
//                                 </span>
//                                 <hr>
//                             </div>`
//                             })
//                         } else if (response.status === 400) {
//                             return response.json().then((data) => {
//                                 couponApply = false
//                                 couponMessage.innerHTML =
//                                     `<div class="alert alert-warning alert-dismissible fade show" role="alert">
//                             <strong>${data.message}</strong>

//                         </div>`

//                                 setTimeout(() => {
//                                     couponMessage.innerHTML = `<div></div>`
//                                 }, 5000);
//                                 document.getElementById('discountAmount').style.display = "none"


//                             })
//                         }
//                     })
//                 }

//                 function deleteCoupon() {
//                     const couponName = document.getElementById('couponName').value;
//                     const couponMessage = document.getElementById('couponMessage');
//                     const url = window.location.origin;
//                     fetch(`${url}/deleteCoupon`, {
//                         method: 'DELETE',
//                         headers: {
//                             'Accept': 'application/json',
//                             'Content-Type': 'application/json'
//                         },
//                         body: JSON.stringify({
//                             couponName,
//                         })
//                     }).then((response) => response.json())
//                         .then((data) => {
//                             couponApply = false
//                             couponMessage.innerHTML =
//                                 `<div class="alert alert-warning alert-dismissible fade show" role="alert">
//                             <strong>${data.message}</strong>
//                         </div>`

//                             setTimeout(() => {
//                                 couponMessage.innerHTML = `<div></div>`
//                             }, 3000);
//                             document.getElementById('totalAmount').innerText = totalCash + discount
//                             totalCash = totalCash + discount;
//                             document.getElementById('discountAmount').style.display = "none"

//                             document.getElementById('couponInputBox').innerHTML =
//                                 `<input type="text" id="couponName" class="form-control text-uppercase rounded"
//                                             placeholder="Coupon name" aria-label="Recipient's username"
//                                             aria-describedby="basic-addon2">
//                                         <div class="input-group-append">
//                                             <button class="btn btn-warning" type="button"
//                                             onclick="applyCoupon()">Apply</button>
//                                         </div>`
//                         })
//                 }
</script>
<%- include('./partials/footer.ejs') %>