<%- include('./partials/header.ejs') %>
<header class="header">

  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="header__logo">
                  <a class="navbar-brand text-dark fs-4 fw-bold" href="#">Time<span class="text-danger">Matter</span></a>
              </div>
          </div>
          <div class="col-lg-6">
              <nav class="header__menu">
                  <ul>
                      <li><a href="/">Home</a></li>
                      <li class="active"><a href="/shop">Shop</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3">
              <div class="header__cart">
                 
                  <div class="header_topright_auth">

                  
                      


                   
                      

                    <ul><% if(wishlist!=null && wishlist.items.length!=0){%>
                        <li><a href="/wishlist"><i class="fa fa-heart"></i> <span><%= wishlist.items.length%></span></a></li> <%}else{%>
                            <li><a href="/wishlist"><i class="fa fa-heart"></i> <span>0</span></a></li><%}%>
                        <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span><%=cart.length%></span></a></li> 
                    </ul>

                      <div class="header__top__right__auth">
                        <a href="/profile"><i class="fa fa-user"></i><%= user.username %></a>
                    </div>
                     
                      <div class="header__top__right__auth">
                          <a href="/logout" style="box-shadow: none;border: none;" class="btn btn-sm btn-outline-danger">Logout</a>
                      </div>
                      

                    
                      
                     
                  </div>
              </div>
          </div>
      </div>

      </div>
    
  </div>
</header>

<!-- <section class="py-5">
    <div class="container">
        <h3 class="mb-4 text-muted mt-4">Thanks for your order, <span style="color: #dd2222;"><%= order.user.username %></span>!</h3>
        <div class="row">
            <% order.product.forEach((productItem) => { %>
                <div class="col-lg-12 mb-4">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col-auto d-none d-lg-block">
                            <img src="<%= productItem.product_id.image[0].url %>" class="img-fluid" alt="Product Image"
                                style="max-height: 250px;">
                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                            <div class="d-flex justify-content-between">
                                <h3><%= productItem.product_id.productName %></h3>
                                <h4>Payment Method:<span class="text-danger"> <%= order.payment_method %></span></h4>
                              </div>
                            <h5>Order ID: <%= order.order_id %></h5>
                            <h5 class="mb-2" style="color: #dd2222;">Status: <%= order.status %></h5>
                            <h4>Price: <%= productItem.product_id.price %> </h4>
                            <p><%= productItem.product_id.description %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="row">
            <div class="col-md-5 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Order Address:</h5>
                        <p class="card-text"><%= exactAddress %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <% if (order.status == 'pending') { %>
                                <button class="btn btn-dark" onclick="cancelOrder()">Cancel Order</button>
                            <% } else if (Date.now() < new Date(new Date(order.orderTime).getTime() + 2 * 24 * 60 * 60 * 1000) && order.status == "delivered") { %>
                                <button class="btn btn-dark" onclick="returnOrder()">Return Product</button>
                            <% } else { %>
                                <button class="btn btn-dark" disabled>Cancel</button>
                            <% } %>
                            <p class="mb-0" style="font-size: 24px;"><strong>Total Price: <%= order.total_amount %></strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>

                function cancelOrder() {
                    const url = window.location.origin
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, Cancel it!',
                    }).then((result) => {
                        if (result.isConfirmed) {

                            fetch(`${url}/cancelOrder/<%=order._id %>`, {
                                method: 'PUT',
                                headers: {
                                    "Content-Type": "application/json",
                                }
                            }).then(() => {
                                Swal.fire({
                                    title: 'Cancelled',
                                    text: " Your order has been cancelled",
                                    icon: 'success',
                                    showConfirmButton: false,
                                })
                                setTimeout(() => {
                                    Swal.close(); // Close the alert
                                    window.location.href = `${url}/orders`;
                                }, 1500);
                            })
                        }
                    })
                } -->


                <section class="py-5">
                    <div class="container">
                        <h3 class="mb-4 text-muted mt-4">Thanks for your order, <span style="color: #dd2222;"><%= order.user.username %></span>!</h3>
                        <div class="row">
                            <% order.product.forEach((productItem) => { %>
                                <div class="col-lg-12 mb-4">
                                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                        <div class="col-auto d-none d-lg-block">
                                            <img src="<%= productItem.product_id.image[0].url %>" class="img-fluid" alt="Product Image"
                                                style="max-height: 250px;">
                                        </div>
                                        <div class="col p-4 d-flex flex-column position-static">
                                            <div class="d-flex justify-content-between">
                                                <h3><%= productItem.product_id.productName %></h3>
                                                <h4>Payment Method:<span class="text-danger"> <%= order.payment_method %></span></h4>
                                              </div>
                                            <h5>Order ID: <%= order.order_id %></h5>
                                            <h5 class="mb-2" style="color: #dd2222;">Status: <%= order.status %></h5>
                                            <h4>Price: <%= productItem.product_id.price %> </h4>
                                            <p><%= productItem.product_id.description %></p>
                                            <!-- Cancel button for each product -->
                                            <!-- <% if (order.status === 'pending') { %>
                                                <button class="btn btn-dark" onclick="cancelProduct('<%= order._id %>', '<%= productItem._id %>')">Cancel Product</button>
                                            <% } %> -->
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                        <div class="row">
                            <div class="col-md-5 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">Order Address:</h5>
                                        <p class="card-text"><%= exactAddress %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <% if (order.status === 'pending') { %>
                                                <button class="btn btn-dark" onclick="cancelOrder('<%= order._id %>')">Cancel Order</button>
                                            <% } else if (Date.now() < new Date(new Date(order.orderTime).getTime() + 2 * 24 * 60 * 60 * 1000) && order.status === 'delivered') { %>
                                                <button class="btn btn-dark" onclick="returnOrder('<%= order._id %>')">Return Product</button>
                                            <% } else { %>
                                                <button class="btn btn-dark" disabled>Cancel</button>
                                            <% } %>
                                            <p class="mb-0" style="font-size: 24px;"><strong>Total Price: <%= order.total_amount %></strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>

                    
                  function cancelProduct(orderId, productId) {
    const url = window.location.origin;
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Cancel it!',
    }).then((result) => {
        if (result.isConfirmed) {
            fetch(`${url}/cancelProduct/${orderId}/${productId}`, {
                method: 'PUT',
                headers: {
                    "Content-Type": "application/json",
                }
            }).then((response) => {
                if (response.ok) {
                    Swal.fire({
                        title: 'Cancelled',
                        text: "The product has been cancelled",
                        icon: 'success',
                        showConfirmButton: false,
                    });

                    // Remove the canceled product from the UI
                    const productContainer = document.querySelector(`#product-${productId}`);
                    productContainer.remove();
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: "Failed to cancel the product. Please try again later.",
                        icon: 'error',
                    });
                }
            });
        }
    });
}


                    function cancelOrder() {
                    const url = window.location.origin
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, Cancel it!',
                    }).then((result) => {
                        if (result.isConfirmed) {

                            fetch(`${url}/cancelOrder/<%=order._id %>`, {
                                method: 'PUT',
                                headers: {
                                    "Content-Type": "application/json",
                                }
                            }).then(() => {
                                Swal.fire({
                                    title: 'Cancelled',
                                    text: " Your order has been cancelled",
                                    icon: 'success',
                                    showConfirmButton: false,
                                })
                                setTimeout(() => {
                                    Swal.close(); // Close the alert
                                    window.location.href = `${url}/orders`;
                                }, 1500);
                            })
                        }
                    })
                }

                function returnOrder() {
                    const url = window.location.origin
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, return it!',
                    }).then((result) => {
                        if (result.isConfirmed) {

                            fetch(`${url}/returnOrder/<%=order._id %>`, {
                                method: 'PUT',
                                headers: {
                                    "Content-Type": "application/json",
                                }
                            }).then(() => {
                                Swal.fire({
                                    title: 'Get back to you soon',
                                    text: " Your order is being processed for returning",
                                    icon: 'success',
                                    showConfirmButton: false,
                                })
                                setTimeout(() => {
                                    Swal.close(); // Close the alert
                                    window.location.href = `${url}/orders`;
                                }, 1500);
                            })
                        }
                    })
                }
            </script> 
 <%- include('./partials/footer.ejs') %>
